@*@Model BankingApp.Models.Transaction;*@
@using System;
@using BankingApp.Models;

@{
    ViewBag.Title = "Home Page";
    int counter = 1;
}


<div class="row">
    <h3>Banking App : Transaction Reader</h3>
    <div class="viewBox">
        Content: 
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Original_Description</th>
                    <th>Amount</th>
                    <th>Transaction_Type</th>
                    <th>Category</th>
                    <th>Account_Name</th>
                    <th>Labels</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@counter</td>
                            <td>@item.Id</td>
                            <td>@item.Date</td>
                            <td>@item.Description</td>
                            <td>@item.Original_Description</td>
                            <td>@item.Amount</td>
                            <td>@item.Transaction_Type</td>
                            <td>@item.Category</td>
                            <td>@item.Account_Name</td>
                            <td>@item.Labels</td>
                            <td>@item.Notes</td>
                        </tr>
                        counter++;
                    }

                }
            </tbody>
        </table>
    </div>
</div>